---
layout: page
css: index
description: Aprende todo sobre Bitcoin, cómo protegerse de cibercriminales y más. criptowiki ofrece explicaciones prácticas y de calidad.
---
	
<h1 id="motto">{{ site.description }}</h1>
<div id="column-left">
	<div id="column-left-flex">

		<div class="posts-list">
			{% assign n = 0 %}
			{% for post in site.posts %}
				{% if post.category == 'bitcoin' or post.category == 'cybersecurity' %}
					{% if n < 4 %}
						<a href="{{ post.permalink }}">
							<div class="post">
								<div class="post-img"><img src="{{ site.baseurl }}/assets/img/{{ post.image }}" alt="{{ post.title | escape }}" /></div>
								<div class="post-txt">
									<div class="post-title">{{ post.title }}</div>
									<div class="post-description">{{ post.content | strip_html | truncatewords: 23 }}</div>
								</div>
							</div>
						</a>
					{% endif %}
					{% assign n = n | plus:1 %}
				{% endif %}
			{% endfor %}
		</div> <!-- .posts-list -->
	</div> <!-- #column-left-flex -->
</div>
<div id="column-right">
	<div class="section border">
		<h2 class="subtitle"><a href="{{ site.baseurl }}/historia/">Historia</a></h2>
		<div class="content" id="history">
			{% for post in site.categories.history limit: 3 %}
			{% assign image_array = post.image | split: "." %}
		            <a href="{{ post.permalink }}">
	        			<img src="{{ site.baseurl }}/assets/img/{{ image_array[0] }}-100x100.{{ image_array[1] }}" width="100" />
	        			<div><span>{{ post.title }}</span></div>
		            </a>
			{% endfor %}
		</div>
	</div>

	<div class="section border">
		<h2 class="subtitle"><a href="{{ site.baseurl }}/billeteras/">Billeteras</a></h2>
		<div class="content" id="wallets">
			{% for post in site.categories.wallets limit: 2 %}
			{% assign image_array = post.image | split: "." %}
		            <a href="{{ post.permalink }}">
	        			<img src="{{ site.baseurl }}/assets/img/{{ post.image }}" width="50" />
	        			<div><span>{{ post.title }}</span></div>
		            </a>
			{% endfor %}
		</div>
	</div>

	<div class="section border">
		<h2 class="subtitle">¡Aprende a diario!</h2>
		<div class="content">
			<p>Buscamos mejores formas de explicar constantemente. <b>Tus comentarios importan</b>.</p>
			<p>#PrivacidadPorFavor</p>
			<div id="social-media">
				<a href="https://www.instagram.com/{{ site.social.instagram }}/"><i class="icon-instagram"></i></a>
				<a href="https://twitter.com/{{ site.social.twitter }}"><i class="icon-twitter-square"></i></a>
				<a href="https://www.reddit.com/r/{{ site.social.reddit }}/"><i class="icon-reddit-square"></i></a>
				<a href="https://mastodon.social/@{{ site.social.mastodon }}/"><i class="icon-mastodon"></i></a>
			</div>
		</div>
	</div>		
</div>
<div class="clear"></div>