<header id="site-header">
	<div class="center">
		<div id="site-nav-trigger">
			<i class="icon-bars" onclick="NavOpen()"></i>
			<i class="icon-close" onclick="NavClose()"></i>
		</div>
		<div id="site-title"><a href="{{ site.baseurl }}/">criptowiki</a></div>
		<nav id="site-nav">
			{% for item in site.data.nav %}
                <a href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a>
            {% endfor %}
		</nav>
		<div id="site-social">
			<a href="https://twitter.com/{{ site.social.twitter }}" title="Twitter"><i class="icon-twitter-square"></i></a>
		</div>
	</div>
</header>