{% if page.description %}
    {% capture pageDescription %}{{ page.description }}{% endcapture %}
{% elsif page.category == 'bitcoin' %}
    {% capture pageDescription %}{{ page.content | strip_html | escape | normalize_whitespace | truncate: 150 }}{% endcapture %}
{% elsif page.category == 'dictionary' %}
    {% capture pageDescription %}¿Qué significa '{{ page.title }}'? {{ page.content | strip_html | escape | normalize_whitespace | truncate: 150 }}{% endcapture %}
{% elsif page.category == 'cybersecurity' or page.category == 'myths' or page.category == 'wallets' or page.category == 'history' %}
    {% capture pageDescription %}{{ page.content | strip_html | escape | normalize_whitespace | truncate: 150 }}{% endcapture %}
{% else %}
    {% capture pageDescription %}{{ site.description }}{% endcapture %}
{% endif %}

{% capture pageURL %}{{ site.url }}{{ page.url }}{% endcapture %}
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="robots" content="index,follow"/>
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json"/>
    <meta name="application-name" content="{{ site.title }}"/>
    <link rel="canonical" href="{{ pageURL }}"/>
    <link rel="alternate" href="{{ pageURL }}" hreflang="x-default"/>

    {% if page.title %}
        <title>{{ page.title }} - {{ site.title }}</title>
        <meta property="og:title" content="{{ page.title || escape }} - {{ site.title }}" />
    {% else %}
        <title>{{ site.title }} - Bitcoin, privacidad & ciberseguridad</title>
        <meta property="og:title" content="{{ site.title }} - Bitcoin, privacidad & ciberseguridad" />
    {% endif %}
    
    <meta name="description" content="{{ pageDescription }}"/>
    <meta property="og:locale" content="{{ site.language }}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ pageURL }}"/>
    <meta property="og:description" content="{{ pageDescription }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@{{ site.social.twitter }}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/img/icons/favicon.ico?v=2"/>
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/icons/favicon.ico?v=2" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css?v=07082023">

    {% if page.css %}
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/{{ page.css }}.css?v=07082023" />
    {% endif %}

    {% if layout.css %}
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/{{ layout.css }}.css?v=05082023" />
    {% endif %}

    {% if page.collection == 'posts' %}
    <meta property="og:image" content="{{ site.url }}/assets/img/{{ page.image }}"/>
    <style>
        #article-header:after { background-image: url('{{ site.url }}/assets/img/{{ page.image }}'); }
    </style>
    {% elsif page.image %}
    <meta property="og:image" content="{{ site.url }}/assets/img/{{ page.image }}"/>
    {% else %}
    <meta property="og:image" content="{{ site.url }}/assets/img/icons/icon-384x.png"/>
    {% endif%}

    <!-- Jekyll feed -->
    {% feed_meta %}

    <!-- Schema.org (only if it's a cybersecurity post, for now) -->
    {% if page.category == 'cybersecurity' %}

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "headline": "{{ page.title | escape }}"
    }
    </script>

    {% endif %}

    
</head>