{% if paginator.total_pages > 1 %}
    <div id="pagination">

        {% if paginator.previous_page %}
        <div class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Más recientes</a>
        </div>
        {% endif %}

        {% if paginator.next_page %}
        <div class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Más antiguos &rarr;</a>
        </div>
        {% endif %}

    </div> <!-- #pagination -->
{% endif %}