#column-left
    margin-right: 430px

#column-right
    float: right
    width: 400px

.clear
    clear: both

.section
    float: left
    margin-bottom: 20px
    width: 100%

.border
    padding: 20px
    border: 1px solid #E5E5E5
    -webkit-border-radius: 7px
    -moz-border-radius: 7px
    border-radius: 7px

.title
    float: left
    margin-top: 5px
    margin-bottom: 15px
    width: 100%

.content,
.subtitle,
.subtitle-2
    float: left
    width: 100%

.subtitle
    margin-top: 0
    margin-bottom: 15px
    font-size: 1.5em

.subtitle-2
    margin-top: 20px
    margin-bottom: 15px
    font-size: 1.3em

.layout-single-column .center
    width: 750px !important

.footnotes
    float: left
    margin-top: 10px
    padding-top: 15px
    width: 100%
    font-size: 0.9em
    border-top: 1px solid #E5E5E5    

.footnotes p
    margin-bottom: 0

@media screen and (max-width: 950px)
    #column-left,
    #column-right
        width: 100%

    #column-left
        float: left
        margin-bottom: 20px

@media screen and (max-width: 500px)
    .title
        float: none
        text-align: center
