---
---

#page-content
    padding: 0

#motto
    float: left
    padding: 30px
    width: 100%
    font-size: 1.25em
    text-align: center

#motto:first-letter
    text-transform: uppercase

.articles-list
    display: flex
    flex-direction: column
    float: left
    padding: 10px 0px
    width: 100%
    border: 1px solid #E5E5E5
    border-radius: 4px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px

.articles-list a
    text-decoration: none
    border: none

.articles-list a:hover .article-img img
    opacity: 1

.articles-list a:hover .article
    color: #000

.article
    float: left
    padding: 15px 20px
    width: 100%
    border: none
    border-radius: 4px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px

.article-img
    float: left
    width: 300px

.article-img img
    display: block
    max-width: 100%
    opacity: 0.9

.article-txt
    padding: 5px 20px 20px 20px
    margin-left: 300px
    line-height: 1.45em

.article-title
    font-weight: bold
    font-size: 1em

.article-description
    padding-top: 15px
    font-size: 0.9em
    color: #444

#history-dates > a
    display: block
    margin-bottom: 20px

#social-media
    float: left
    width: 100%

#social-media a
    text-decoration: none

#social-media i
    margin-right: 7px
    font-size: 2em

@media screen and (max-width: 1200px)
    #column-left,
    #column-right
        width: 100%

@media screen and (max-width: 700px)
    #motto
        padding: 20px 0 25px

    .article-txt
        padding: 15px 5px 5px 5px

    .article-img,
    .article-txt
        float: left
        margin: 0
        width: 100%

    .article-img img
        width: 100%