---
---

#motto
    display: block
    float: left
    margin-bottom: 10px
    width: 100%
    font-size: 0.85em
    text-align: center

#motto h1:first-letter
    text-transform: uppercase

#history,
#wallets
    display: flex
    flex-wrap: wrap
    flex-direction: row

#history a,
#wallets a
    display: flex
    flex: 1 0 100%
    margin-bottom: 10px
    font-size: 0.9em
    text-decoration: none
    background-color: #F8F8FB
    border: 1px solid #E5E5E5
    border-radius: 7px
    -moz-border-radius: 7px
    -webkit-border-radius: 7px

#history a:hover,
#wallets a:hover
    background-color: #F3F3F8
    color: #111
    border: 1px solid #888

#history img,
#wallets img
    min-width: 100px
    max-width: 100px
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    -moz-border-radius-topright: 0
    -moz-border-radius-bottomright: 0
    -webkit-border-top-right-radius: 0
    -webkit-border-bottom-right-radius: 0

#history div,
#wallets div
    padding: 10px
    margin-top: auto
    margin-bottom: auto
    font-size: 0.95em

#social-media
    float: left
    width: 100%

#social-media a
    text-decoration: none

#social-media i
    margin-right: 7px
    font-size: 2em

@media screen and (max-width: 700px)
    #page-content
        margin-top: 15px

    #motto
        font-size: 0.85em

    #wallets a
        flex: 1 0 100%