---
title: Ciberseguridad
description: Herramientas y mejores prácticas para proteger tu privacidad y seguridad digital.
permalink: /ciberseguridad/
layout: page
css: items-list
pagination: 
  enabled: true
  category: cybersecurity
  title: 'Ciberseguridad | Página :num'
  permalink: /:num/
---

<div class="section">
    <h1 class="title">{{ page.title }}</h1>
    <p>{{ page.description }}</p>
    <div class="section posts-list">

        {% for post in paginator.posts %}
        {% assign image_array = post.image | split: "." %}
            <a href="{{ post.permalink }}">
                <div class="post">
                    <div class="post-img"><img src="{{ site.baseurl }}/assets/img/{{ image_array[0] }}-300x210.{{ image_array[1] }}" alt="{{ post.title | escape }}" /></div>
                    <div class="post-txt">
                        <div class="post-title">{{ post.title }}</div>
                        <div class="post-description">{{ post.content | strip_html | truncatewords: 18 }}</div>
                    </div>
                </div>
            </a>
        {% endfor %}
        
    </div>

    {% if paginator.total_pages > 1 %}
        <div id="pagination">

            {% if paginator.previous_page %}
            <div class="previous">
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Más recientes</a>
            </div>
            {% endif %}

            {% if paginator.next_page %}
            <div class="next">
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Más antiguos &rarr;</a>
            </div>
            {% endif %}

        </div> <!-- #pagination -->
    {% endif %}

</div> <!-- .section -->