---
title: Diccionario
description: Definiciones y ejemplos que complementan el resto del contenido en criptowiki, para que todos podamos entender.
permalink: /diccionario/
layout: page
css: dictionary
---

<div class="section">
    <h1 class="title">{{ page.title }}</h1>
    <p>{{ page.description }}</p>
    <div class="content items-list">


        {% assign dictionary = site.categories.dictionary | sort: "title" %}
        {% assign postsByLetter =  dictionary | group_by_exp: "post", "post.title | slice: 0, 1" %}
        {% for letter in postsByLetter %}
            <h2>{{ letter.name }}</h2>
            {% for post in letter.items %}
            <a href="{{ post.permalink }}"><div>{{ post.title }}</div></a>
            {% endfor %}
        {% endfor %}

    </div>
</div>