---
title: Historia
description: Los eventos más importantes en la historia de Bitcoin y el mundo cripto.
permalink: /historia/
layout: page
pagination: 
  enabled: true
  category: history
  title: 'Historia | Página :num'
  permalink: /:num/
---

<div class="align-box">

    <div id="page-title"><h1>{{ page.title }}</h1></div>

    <div id="columns-container-1">
        <div id="column-left">
            <div id="inner-grid">

            {% for post in paginator.posts %}
            {% assign image_array = post.image | split: "." %}


                <div class="card">
                    <a href="{{ post.permalink }}">
                        <div class="card-content">
                            <img class="card-image" src="{{ site.baseurl }}/assets/img/{{ image_array[0] }}-300x210.{{ image_array[1] }}" alt="{{ post.title | escape }}">
                            <div class="card-text">
                                <h3 class="card-title">{{ post.title }}</h3>
                                <p class="card-description">{{ post.excerpt | strip_html | truncatewords: 18 }}</p>
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}


            </div> <!-- #inner-grid -->

            {% include pagination.html %}

        </div> <!-- #column-left -->
    </div> <!-- #columns-container -->

</div>