---
layout: default
css: article
---

<div id="page-content" class="layout-article">
	<div id="article-header">
		<div class="center">
			<div id="article-title"><h1><span>{{ page.title }}</span></h1></div>
		</div>
	</div>
	<div id="article-body">
		<div class="center">
			<div class="breadcrumb"><a href="{{ site.baseurl }}/bitcoin/">Bitcoin</a></div>
			<div id="article-meta">
				<span id="article-time">
					{% if page.updated %}
						Última actualización: {{ page.updated }}
					{% elsif page.published %}
					    Publicado: {{ page.published }}
					{% endif %}
				</span>
				<span id="article-share">					
					<a href="https://twitter.com/share?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Compartir en Twitter"><i class="icon-twitter-square"></i></a>
				</span>
			</div>
			<div id="article-content">
				{{ content }}
			</div>
		</div>
	</div>
</div>