---
layout: default
css: article
---

<div id="page-content" class="layout-article">
	<div id="article-header">
		<div class="center">
			<div id="article-title"><h1><span>{{ page.title }}</span></h1></div>
		</div>
	</div>
	<div id="article-body">
		<div class="center">
			<div class="breadcrumb">
				<ol>
					<li><a href="{{ site.baseurl }}/">Inicio</a></li>
					<li><a href="{{ site.baseurl }}/bitcoin/">Bitcoin</a></li>
				</ol>
			</div>
			<div id="article-meta">
				<span id="article-time">
					{% if page.updated %}
						Actualizado el {{ page.updated | date_spanish }}
					{% elsif page.published %}
					    Publicado el {{ page.published | date_spanish }}
					{% endif %}
				</span>
				<span id="article-share">					
					<a href="https://twitter.com/share?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Compartir en Twitter"><i class="icon-twitter-square"></i></a>
				</span>
			</div>
			<div id="article-content">
				{{ content }}
			</div>

			<div id="article-related">
				<div><h3>Artículos relacionados</h3></div>
				<div>
					
					{% for post in site.categories.bitcoin limit: 5 %}

						{% if post.permalink == page.permalink %}
							{% continue %}
						{% endif %}

						<div><a href="{{ post.permalink }}">{{ post.title }}</a></div>

					{% endfor %}

				</div>
			</div> <!-- #article-related -->

		</div> <!-- .center -->
	</div> <!-- #article-body -->
	
</div>