---
layout: default
css: cybersecurity
---

<div id="page-content">
	<div class="center">

		<div id="post">
			<div class="breadcrumb">
				<ol>
					<li><a href="{{ site.baseurl }}/">Inicio</a></li>
					<li><a href="{{ site.baseurl }}/ciberseguridad/">Ciberseguridad</a></li>
				</ol>
			</div>
			<h1 class="title">{{ page.title }}</h1>
			<div class="content">{{ content }}</div>
		</div>

		<div id="related-posts">
			<div>Más sobre ciberseguridad</div>
			{% for post in site.categories.cybersecurity limit: 3 %}
				{% assign image_array = post.image | split: "." %}
				{% if post.permalink == page.permalink %}
					{% continue %}
				{% endif %}

				<a href="{{ post.permalink }}">
					<div class="post">
						<div class="post-img"><img src="{{ site.baseurl }}/assets/img/{{ image_array[0] }}-300x210.{{ image_array[1] }}" alt="{{ post.title | escape }}" /></div>
						<div class="post-txt">
							<div class="post-title">{{ post.title }}</div>
							<div class="post-description">{{ post.content | strip_html | truncatewords: 23 }}</div>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>

	</div>
</div>