---
layout: default
css: post-two-column
---

{% capture category %}{{ page.category }}{% endcapture %}

{% case category %}
  {% when "dictionary" %}
      {% capture related_txt %}Más términos{% endcapture %}
  {% when "myths" %}
  		{% capture related_txt %}Más mitos{% endcapture %}
  {% else %}
      {% capture related_txt %}Artículos relacionados{% endcapture %}
{% endcase %}

<div id="page-content">
	<div id="post-page">
	
			<div id="post-column-left">
				<div id="post">

					{% if page.category == 'history' %}
					<div class="breadcrumb">
						<ol>
							<li><a href="{{ site.baseurl }}/">Inicio</a></li>
							<li><a href="{{ site.baseurl }}/historia/">Historia</a></li>
						</ol>
					</div>
					{% else %}
						{% include breadcrumb.html %}
					{% endif %}
					
					
					{% if category == "wallets" %}
					<div class="title-container">
						<img src="{{ site.baseurl }}/assets/img/{{ page.image }}" alt="{{ page.title }}" />
						<h1>{{ page.title }}</h1>
					</div>
					{% else %}
					<h1 id="post-title">{{ page.title }}</h1>
					{% endif %}


					{% if page.updated %}
					<div id="post-dates">
						<i class="icon-calendar-o"></i>
						<span>Actualizado el {{ page.updated }}</span>
					</div>
					{% endif %} 
					

					<div class="content">

						{% if category == "myths" %}
					  	{% include image.html url=page.image width="500" %}
						{% endif %}

						{{ content }}

					</div> <!-- .content -->
				</div> <!-- #post -->

			</div> <!-- #post-column-left -->


			<div id="post-column-right">

				<div id="social">
					<div><h3>¡Aprende a diario!</h3></div>
					<div id="social-links">						
							<a href="https://twitter.com/{{ site.social.twitter }}" title="Twitter"><i class="icon-twitter-square"></i></a>
							<a href="https://www.reddit.com/r/{{ site.social.reddit }}/" title="Reddit"><i class="icon-reddit-square"></i></a>
							<a href="https://mastodon.social/@{{ site.social.mastodon }}/" title="Mastodon"><i class="icon-mastodon"></i></a>
							<a href="{{ site.baseurl }}{{ site.feed.path }}" title="Atom"><i class="icon-rss-square"></i></a>
							<a href="https://instagram.com/{{ site.social.instagram }}" title="Instagram"><i class="icon-instagram"></i></a>
					</div>
				</div> <!-- #social -->
				
				
				<div id="related-posts">

					<h3>{{ related_txt }}</h3>

					{% for post in site.categories[category] limit: 7 %}

						{% if post.permalink == page.permalink %}
							{% continue %}
						{% endif %}

						<div class="related-post">
							<a href="{{ post.permalink }}">
								<span class="related-post-title">{{ post.title }}</span>
								<span class="related-post-excerpt">{{ post.excerpt | strip_html | truncatewords: 15 }}</span>
							</a>
						</div>

					{% endfor %}
				</div> <!-- #related-posts -->


			</div> <!-- #post-column-right -->


		</div> <!-- #post-page -->
</div> <!-- #page-content -->