---
layout: default
css: post-two-column
---

{% capture category %}{{ page.category }}{% endcapture %}

{% case category %}
  {% when "dictionary" %}
      {% capture related_txt %}Más términos{% endcapture %}
  {% else %}
      {% capture related_txt %}Artículos relacionados{% endcapture %}
{% endcase %}

<div id="page-content">
	<div id="post-page">
	
			<div id="post-column-left">
				<div id="post">
					{% include breadcrumb.html %}
					
					<h1 class="title">{{ page.title }}</h1>
					<div class="content">{{ content }}</div>
				</div> <!-- #post -->

			</div> <!-- #post-column-left -->


			<div id="post-column-right">

				<div id="social">
					<div><h3>¡Aprende a diario!</h3></div>
					<div id="social-links">
						<a href="https://twitter.com/{{ site.social.twitter }}" title="Twitter"><i class="icon-twitter-square"></i></a>
						<a href="{{ site.baseurl }}{{ site.feed.path }}" title="Atom"><i class="icon-rss-square"></i></a>
					</div>
				</div>
				
				<div id="related-posts">
					<div><h3>{{ related_txt }}</h3></div>

					{% for post in site.categories[category] limit: 7 %}

						{% if post.permalink == page.permalink %}
							{% continue %}
						{% endif %}

						<div><a href="{{ post.permalink }}">{{ post.title }}</a></div>

					{% endfor %}
				</div> <!-- #related-posts -->


			</div> <!-- #post-column-right -->


		</div> <!-- #post-page -->
</div> <!-- #page-content -->